span.no-wrap{white-space:nowrap}
span.autor{color: #FF6C2F; left: 33.9em; position: absolute;}
span.quote{color: #FF6C2F; font-family: 'PMNCaeciliaW01-56Italic',serif !important; font-size: 1.4em;}
span.bold{ display: block; font-family: 'frontage_bold',sans-serif; margin-left: 0.15em; margin-top: 0.7em;}