
/* ==========================================================================
   	LINKS
   ========================================================================== */

/* Back to top link. */
 a.to-top {
 	background: $brand-color;
 	color: #fff;
 }

 .slogan a{
  font-family: 'PMNCaeciliaW01-85Heavy', serif;
  color: #2F3437;
    &:hover, &:focus, &:active{
      color: $brand-color;
    }
 }
