
/* ==========================================================================
    ARTICLES
   ========================================================================== */

.article {
/*	@extend .grid-item;
	&.one-whole {
		@extend .grid-item;
		@extend .lap-one-whole;
	}
	&.one-third {
		@extend .grid-item;
		@extend .lap-one-whole;
	}
	&.one-quarter {
		@extend .grid-item;
		@extend .lap-one-whole;
	}*/


	header {
		position: relative;
		.socialicons {
			cursor: pointer;
			right: 40%;
			position: absolute;
			top: 7px;
		}
	}

	.inner {
		margin-right: 3em;
	}
	a {
		&.boldit {
			font-size: 1em;
		}
	}
	div.seb_css3 {
		padding: 0;
	}
	.prehead {
		color: $brand-color-1;
		font-family: 'PMNCaeciliaW01-85Heavy', serif;
		font-size: 2.938em;
	}

	h1 {
		color: #000;
		font-family: 'PMNCaeciliaW01-75Bold', serif;
		font-size: 1.125em;
		margin-bottom: 2em;
		position: relative;
		a {
			color: #000;
		}

	}
	footer {
		border: 0;
	}
	ul {
		font-size: $root-font-size*0.8%;
		list-style-type: none;
		li {
			background-image: url('../images/list_dash.png');
			background-position: 0 0.7em;
			background-repeat: no-repeat;
			padding-left: 1.357em;

			&.orange {
				background-image: url('../images/list_dash_orange.png');
				color: $brand-color-1;
			}
		}
	}

	&.referenz {
		td {
			border-bottom: 1px solid #dfe1e5;
			padding-top: 2.1em;
		}

		h1 {
			margin-bottom: 0.5em;
		}
		&:last-child {
			border: 0;
		}

		.img-left {
			//margin-right: 4.813em;
			display: table-cell;
			float: none;
			width: 250px;
			vertical-align: middle;

			header {
				margin-top: 1.5em;
			}
		}
	}
	&.news {
		&.intro  {
			border-bottom: 1px solid #dfe1e5;
			margin-bottom: 0;
			padding: 2.188em 0;
			position: relative;
			figure {
			height: 130px;
			margin-bottom: 0;
			overflow: hidden;
			width: 208px;


				img {
					margin: 0;
				}
				object,embed,iframe {
					width: 208px;
					height: 130px;
				}
			}
			p {
				margin-bottom: 0.3em;
			}

			&:last-child {
				border-bottom: 0;
			}
		}

		.socialicons {
			position: absolute;
			right: 0;
			top: 0;
		}

		h1 {
			margin-bottom: 0.5em;
			width: 80%;
			&.blue {
				color: $brand-color;

				span {
					color: #000;
					//display: none;
				}
			}
		}

	.author,.date {
		font-family: 'PMNCaeciliaW01-76BoldIt', serif;
	}
	.author  { 
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
	}
	&.news.intro {
				h1 {
			width: 100%;
		}

	}
	.whatsnew &.news {
		&.intro {
			border: 0;
			float: left;
			padding: 0 2em 0 0;
			position: relative;

			a {
				/*
        position: absolute;
				bottom: 0;
        */
			}
		}
	}
	&.train {
		.date,.author {
			font-family: 'PMNCaeciliaW01-76BoldIt', serif;
		}
		ul {
			li {
				margin-left: -1.3em;
			}
		}

		header {
			display: block;
			height: auto;

			}

		h1 {
			color: #4c565c;
			background-image: none;
			font-family: 'PMNCaeciliaW01-75Bold', serif;
			font-weight: normal;
			font-size: 1.75em;
		}
		h2 {
			&.black {
				margin-bottom: 0;
				width: 47%;
			}
		}
		h3 {
			color: $brand-color;
			font-family: 'frontage_regular', sans-serif;
			font-size: 1.563em;
			margin-left: -0.2em;
		}
		h4 {
			font-family: 'PMNCaeciliaW01-75Bold', serif;
			font-size: 1.125em;
			margin: 0 0 0.2em 0;
		}
		.article-body {
			display: block;
			margin-top: 2em;
			width: 100%;
		}
		p {
			color: #2f3437;
		}
		.fulltext {
			@extend .grid-item;
			@extend .three-fifths;
			padding-right: 2em;
		}
		.right {
			@extend .grid-item;
			@extend .two-fifths;

		}
		.nutzen,.kundenstimmen {

			background: $brand-color;
			min-height: 175px;
			padding: 1.5em 1em;


			h3,p {
				color: #fff;
			}
			h3 {
				margin-bottom: 0.6em;
			}
		}
		.kundenstimmen {
			margin-top: 2em;
			h3 {
				font-size: 1.3em;
			}
			.ratingradio {
				background: #fff;
				padding: 3px;
				width: 170px;
				margin-bottom: 1em;
			}
			.kusti {
				color: #fff;
				display: inline-block;
			}
			a.boldit {
				background-image: url('../images/icon-arrow-white.png');
			}
			.btn.kusti {
				display: none;
			}
		}
		.wrap {
			margin-top: 3em;
			position: relative;
		}
		.inhalte {
			background: #eeebe5;
			float: left;
			min-height: 650px;
			padding: 1.5em 1em;
			width: 35%;
			overflow: hidden;

		}
		.fakten {
			float: right;
			width: 60%;
			margin-bottom: 1em;

			h3 {
				background: transparent url('../images/bg_h2_orange.png') repeat-x center;
				color: $brand-color-1;
		    span {
		        background: #fff;
		        display: inline-block;
		        padding-right: 1em;
		        span {
		        	display: none;
		        }
		    }
			}

		}
		.ansch {
			//bottom: 0;
			//position: absolute;
			//right: 0;
			float: right;
			width: 60%;

			h3 {
				background: transparent url('../images/bg_h2.png') repeat-x center;
		    span {
		        background: #fff;
		        display: inline-block;
		        padding-right: 1em;

		        span {
		        	display: none;
		        }
		    }
			}
			figure {
				float: left;
				height: 185px;
				margin-bottom: 0;
				overflow: hidden;
				width: 55%;
				object,embed,iframe {
					width: 268px;
					height: 185px;
					@include media-query-max(desk) {
						height: 185px;
						width: 228px;
					}
				}

				@include media-query-max(desk) {
					height: 185px;
					width: 54%;
				}
			}
			.wrap {
				float: left;
				height: 185px;
				margin: 0 0 0 4%;
				width: 41%;

				@include media-query-max(desk) {
					width: 40%;
				}
			}
			a {
				bottom: 0;
				left: 0;
				position: absolute;
			}
		}

		&.intro {
				min-height: 6em;
				margin-bottom: 1em;
				overflow: hidden;
				header {
					background-color: $brand-color;
					background-image: url('../images/icon-arrow-big-grey.png');
					background-position: right 50%;
					background-repeat: no-repeat;
					display: table-cell;
					min-height: 6em;
					width: auto;
					position: relative;
					vertical-align: middle;
					padding: 1em;
					min-width: 325px;

				a {
					display: block;
					padding-right: 60px;
				}

				h1 {
					color: #000;
					font-size: 1.375em;
					margin: 0;
				}
				h2 {
					background-image: none;
					color: #fff;
					font-family: 'PMNCaeciliaW01-75Bold', serif;
					font-size: 1em;
					margin:0;
				}

			}
				.article-body {
					background: #eeebe5;
					display: table-cell;
					height: 6em;
					vertical-align: middle;
					width: 500px;

					p {
						color: #000;
						margin: 0 0.625em 0 1em;
					}
				}

		}
		&.intro.spezial {
			header {
				background-color: #eeebe5;
				background-image: url('../images/icon-arrow-big-blue.png');
				background-position: right 50%;
				h2 {
					color: $brand-color;
				}

			}
			.article-body {
				background: $brand-color;

				p {
					color: #fff;
				}
			}
		}
		&.intro.busi {
			header {
				background-color: $brand-color-1;

				h1,h2 {
					color: #fff;
				}
			}
		}
	}
	&.termin {
		&.intro {
			border-bottom: 1px solid #dfe1e5;
			padding: 2.5em 0 1.875em 0;

			.article-body {
				h1 {
					color: #4c565c;
				}

			}

			.date {
				color: $brand-color;
				font-family: 'PMNCaeciliaW01-75Bold', serif;
				font-size: 1.125em;
				margin-bottom: 1.825em;
			}
			.time,.place {
				color: #4c565c;
				font-family: 'PMNCaeciliaW01-56Italic';
				font-size: 0.813em;
			}
		}
	}
	&.blog {
		header {
			h1 {
				color: #4c565c;
				font-size: 1.375em;
				margin-bottom: 0;
			}
			p {
				font-family: 'PMNCaeciliaW01-56Italic', serif;
			}
			.socialicons {
				right: 0;
			}
		}
		hr {
			margin: 40px 0;
			width: 20%;
		}
	}

}


.article {
	p + p {
		text-indent: 0;
	}
	p.sdw + p {
	  display: none;
	}
}

.aktuelles .page-header {
	margin-bottom: 2.25em;
}
.impressum {
	h3 {
		font-family: 'PMNCaeciliaW01-85Heavy', serif;
		font-size: 0.813em;
		margin-bottom: 0;
	}
}
table {
	&.intro-articles {
		border-bottom: 0;
	}
}
main.content .article:last-of-type {
	border-bottom: 0px;
	}


