/* ==========================================================================
    PAGINATION
   ========================================================================== */

.pagination {
	clear: both;
	text-align: left;
	a,span {
		font-family: 'PMNCaeciliaW01-76BoldIt', serif;
		font-size: 1.125em;
	}
	span {
		padding: 0 5px;
	}
}